<!--The page is used to show an errors-->
<head>
    <title>Login Page</title>
</head>
<body>
<div>
    <h3>Error</h3>
    <p th:each="error: ${errors}" th:text="${error}"/>
    <br/>
    <a th:href="${redirectTo}" th:text="'Try Again'"/>
</div>
</body>