<!--This is main login screen-->
<head>
    <title>Main Page</title>
</head>
<body>
<div>
    <label for="OPENIAM_COOKIE">OpenIAM Authentication Cookie</label>
    <input th:value="${OPENIAM_COOKIE}" name="OPENIAM_COOKIE" id="OPENIAM_COOKIE" type="text"/>
</div>

<div>
    <label for="OPENIAM_ACCESS_TOKEN">OAuth2 Access token</label>
    <input th:value="${OPENIAM_ACCESS_TOKEN}" name="OPENIAM_ACCESS_TOKEN" id="OPENIAM_ACCESS_TOKEN" type="text"/>
</div>

<div>
    <label for="OPENIAM_REFRESH_TOKEN-A">OAuth2 Refresh Token</label>
    <input th:value="${OPENIAM_REFRESH_TOKEN}" name="OPENIAM_REFRESH_TOKEN-A" id="OPENIAM_REFRESH_TOKEN-A" type="text"/>
</div>

<div>
    <label for="OPENIAM_USER_ID">User Id</label>
    <input th:value="${OPENIAM_USER_ID}" name="OPENIAM_USER_ID" id="OPENIAM_USER_ID" type="text"/>
</div>

<div>
    <a href="/user">Create User</a>
</div>

<br/>
<br/>
<br/>

<form action="refresh-oauth-token" method="post">
    <input type="submit" value="Refresh OAuth2 token">
</form>

<div>
    <a href="/logout">Logout</a>
</div>

</body>