<!--This is main login screen-->
<head>
    <title>Login Page</title>
</head>
<body>
<form method="post" action="login">

    <label for="login">Login</label>
    <input name="login" id="login" type="text"/>

    <label for="password">Password</label>
    <input name="password" id="password" type="password"/>

    <input name="redirectTo" id="redirectTo" type="hidden" th:value="${redirectTo}"/>

    <input type="submit" value="Send">

</form>
</body>