<!--The page is used to show an errors-->
<head>
    <title>Login Page</title>
</head>
<body>
<div>
    <h3>Success</h3>
    <p th:text="${success}"/>
    <p th:text="${data}"/>
    <br/>
    <a href="/">Ok!</a>
</div>
</body>