<!--This is main login screen-->
<head>
    <title>Main Page</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" type="application/javascript"></script>
<style>
    .required:after {
        content: "*";
        color: red;
    }

    .bd {
        padding: 1.5rem;
        margin-right: 0;
        margin-left: 0;
        border: 1px solid #afafaf;
        border-radius: 4px;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
    }
</style>

<script type="application/javascript">
    UserJs = {
        init: function () {
            $("#submit").on('click', function (e) {
                UserJs.submit(UserJs.toJSON());
            });
            $("#add-attr").on('click', function (e) {
                UserJs.addAttribute();
            });
        },
        addAttribute: function () {
            var container = $("#attribute-container");
            container.append(
                $("<div>", {class: "mb-3 attribute-item"})
                    .append(
                        $("<div>", {class: "row"})
                            .append($("<div>", {class: "col-sm-6"})
                                /**
                                 * <label class="form-label required" for="firstName">First Name</label>
                                 * <input class="form-control" type="text" id="firstName" name="firstName"/>
                                 */
                                .append($("<label>", {class: "form-label"}).text("Name"))
                                .append($("<input>", {class: "form-control attribute-name", type: "text"}))
                            )
                            .append($("<div>", {class: "col-sm-6"})
                                .append($("<label>", {class: "form-label"}).text("Value"))
                                .append($("<input>", {class: "form-control attribute-value", type: "text"}))
                            )
                    )
            )
        },
        toJSON: function () {
            var obj = {};
            obj.firstName = $("#firstName").val()
            obj.lastName = $("#lastName").val()
            obj.metadataTypeId = $("#metadataTypeId").val()
            obj.login = $("#login").val()
            obj.password = $("#password").val()
            obj.groupIds = $("#groupIds").val()
            obj.roleIds = $("#roleIds").val()
            if ($("#emailAddress").val() && $("#emailType").val()) {
                obj.emailAddresses = [];
                obj.emailAddresses.push({
                    email: $("#emailAddress").val(),
                    typeId: $("#emailType").val(),
                    published: $("#emailPublished").attr("checked"),
                })
            }
            if ($("#phoneNumber").val() && $("#phoneType").val()) {
                obj.phones = [];
                var phoneNum = $("#phoneNumber").val();
                obj.phones.push({
                    countryCd: phoneNum.substr(0, 2),
                    areaCd: phoneNum.substr(2, 2),
                    phoneNbr: phoneNum.substr(4),
                    typeId: $("#phoneType").val(),
                    published: $("#phonePublished").attr("checked"),
                })
            }
            var attrs = $(".attribute-item");
            if (attrs && attrs.length > 0) {
                obj.attributes = [];
                $.each(attrs, function (ind, val) {
                    var name = $(".attribute-name", $(val)).val();
                    var value = $(".attribute-value", $(val)).val();
                    if (name && value) {
                        obj.attributes.push({
                            name: name,
                            values: [value],
                            operation: "ADD"
                        })
                    }
                });
            }
            console.log(obj.attributes)
            return obj;
        },
        submit: function (obj) {
            $.ajax({
                url: "/user",
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(obj),
                success: function (data, textStatus, jqXHR) {
                    alert("Saved Successfully");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Error:" + textStatus)
                }
            });
        }
    }

    $(document).ready(function () {
        UserJs.init.call(UserJs.init)
    });

</script>

<body>
<div class="container">
    <form action="user" method="post" class="row g-3">
        <div class="bd">
            <h4>Common</h4>
            <div class="mb-3">
                <label class="form-label required" for="firstName">First Name</label>
                <input class="form-control" type="text" id="firstName" name="firstName"/>
            </div>

            <div class="mb-3">
                <label class="form-label required" for="lastName">Last Name</label>
                <input class="form-control" type="text" id="lastName" name="lastName"/>
            </div>
            <div class="mb-3">
                <label class="form-label required" for="metadataTypeId">Metadata Type</label>
                <select class="form-control" type="" id="metadataTypeId" name="metadataTypeId">
                    <option th:each="type: ${METADATA_TYPES}" th:value="${type.id}" th:text="${type.name}"/>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="login">Login (Will be generated automatically if empty)</label>
                <input class="form-control" type="text" id="login" name="login"/>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password (Will be generated automatically if empty)</label>
                <input class="form-control" type="password" id="password" name="password"/>
            </div>
        </div>
        <div class="bd">
            <h4>Entitlements</h4>
            <div class="mb-3">
                <label class="form-label" for="groupIds">Groups</label>
                <select class="form-control" multiple id="groupIds" name="groupIds">
                    <option th:each="type: ${GROUPS}" th:value="${type.id}" th:text="${type.name}"/>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="roleIds">Roles</label>
                <select class="form-control" multiple id="roleIds" name="roleIds">
                    <option th:each="type: ${ROLES}" th:value="${type.id}" th:text="${type.name}"/>
                </select>
            </div>
        </div>
        <div class="bd">
            <h4>Email</h4>
            <div class="mb-3">
                <label class="form-label" for="emailType">Email Type</label>
                <select class="form-control" id="emailType" name="emailType">
                    <option th:value="${''}" th:text="${'Please Select'}"/>
                    <option th:each="type: ${EMAIL_TYPES}" th:value="${type.id}" th:text="${type.name}"/>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="emailAddress">Email Address</label>
                <input class="form-control" id="emailAddress" name="emailAddress" type="email"/>
            </div>
            <div class="mb-3 row">
                <div class="col-sm-4 form-check">
                    <input class="form-check-input" id="emailPublished" name="emailPublished" type="checkbox"/>
                    <label class="form-check-label" for="emailPublished">Is Published</label>
                </div>
            </div>
        </div>

        <div class="bd">
            <h4>Phone</h4>
            <div class="mb-3">
                <label class="form-label" for="phoneType">Phone Type</label>
                <select class="form-control" id="phoneType" name="phoneType">
                    <option th:value="${''}" th:text="${'Please Select'}"/>
                    <option th:each="type: ${PHONE_TYPES}" th:value="${type.id}" th:text="${type.name}"/>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="phoneNumber">Phone Number</label>
                <input class="form-control" id="phoneNumber" name="phoneNumber" type="number"/>
            </div>
            <div class="mb-3 row">
                <div class="col-sm-4 form-check">
                    <input class="form-check-input" id="phonePublished" name="phonePublished" type="checkbox"/>
                    <label class="form-check-label" for="phonePublished">Is Published</label>
                </div>
            </div>
        </div>

        <div class="bd">
            <h4>Custom attributes</h4>
            <a id="add-attr" class="btn btn-info" href="javascript:void(0);">Add Custom Attribute</a>
            <div class="mb-3 " id="attribute-container">

            </div>
        </div>
        <input id="submit" class="btn btn-primary mb-3" type="button" value="Create User">
    </form>
</div>
</body>